# SCREEN SIZE

columns: 240
rows: 160

# FONT SIZE

width: 4
height: 4

# DISPLAY FPS?
# 1 = true
# 0 = false

hud: 1

# RENDERER
# 0 = tc
# 1 = ascii

renderer: 0

# TRUE COLOR RENDER CONFIG

mask: 0xF0   

# ASCII RENDER CONFIG
# palette = string of ascii characters dark to bright
# blue, green, red, intense = color thresholds

palette: ".,:-=+*#%@"
blue: 140
green: 128
red: 110
intense: 216