# SCREEN SIZE

columns: 60
rows: 40

# FONT SIZE

width: 16
height: 16

# DISPLAY FPS?
# 1 = true
# 0 = false

hud: 1

# RENDERER
# 0 = tc
# 1 = ascii

renderer: 0

# TRUE COLOR RENDER CONFIG

mask: 0xF0

# ASCII RENDER CONFIG
# palette = string of ascii characters dark to bright
# blue, green, red, intense = color thresholds

palette: ".,:-=+*#%@"
blue: 140
green: 128
red: 110
intense: 216